mixin link(ref, name)
  a(class="btn" href=ref)= name
  //- attributes == {class: "btn"}
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/featherlight.css')
    link(rel='stylesheet', href='/css/featherlight.gallery.css')
    script(src='/js/jquery.js')
    script(src='/js/featherlight.js')
    script(src='/js/featherlight.gallery.js')
    script(src='/js/detect_swipe.js')
  body
    block content
    script(src='/js/main.js')
    
    
